.parentSection {
  position: relative;
  height: 1000px;

  .backH2 {
    position: absolute;
    top: 48%;
    right: 3%;
    color: rgba(239, 239, 239, 0.5);
    font-size: 180px;

    // はみ出した文字を折り返さず隠す
    white-space: nowrap;
    overflow: hidden;
  }

  img {
    width: 75vh;
    height: 60vh;
    z-index: 3;
  }

  .imgAndIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6em;
    column-gap: 3em;

    aside {
      display: flex;
      column-gap: 5em;
      flex-wrap: wrap;
      row-gap: 3em;

      aside {
        padding-top: 3em;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      font-size: 16px;
      text-align: center;
    }

    i {
      font-size: 60px;
      text-align: center;
    }
  }
}

.section {
  p {
    text-align: center;
  }

  h2 {
    color: rgb(232, 54, 73);
    font-size: 50px;
    text-align: center;
    position: relative;

    span {
      color: black;
      font-size: 23px;
    }
  }

  h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px; /*線の上下位置*/
    display: inline-block;
    width: 40px; /*線の長さ*/
    height: 2px; /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /*位置調整*/
    background-color: #e83649; /*線の色*/
    border-radius: 2px; /*線の丸み*/
  }
}

.button4 {
  width: 15rem;
  height: 50px;
  border: 1px solid #333;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  left: 18%;
  margin: 0 0 40px 50px;
}
.button4 a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}
.eff4 {
  width: 15rem;
  height: 50px;
  left: -15rem;
  background: rgb(51, 51, 51);
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.button4:hover .eff4 {
  left: 0;
}
.button4:hover a {
  color: #fff;
}
